.frame {
  height: 100%;
  width: 100%;
  border: 14px solid var(--fg);
  padding: 14px;
}

.content {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.workItem {
  display: flex;
  flex-direction: column;
  justify-items: flex-start;
  width: 100%;
  font-size: 20px;
  & > i {
    font-size: 18px;
  }
}
