.frame {
  position: relative;
  height: 100%;
  width: 100%;
  border: 14px solid var(--fg);
  padding: 14px;
}

.content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.workItem {
  display: flex;
  flex-direction: column;
  justify-items: flex-start;
  width: 100%;
  font-size: 20px;
  padding: 16px 12px;
  position: relative;
  & > i {
    font-size: 18px;
  }
  // click icon
  &::after {
    content: "";
    position: absolute;
    display: inline-block;
    width: 24px;
    aspect-ratio: 1;
    right: 16px;
    top: calc(50% - 12px);
    visibility: hidden;
    background-color: var(--bg);
    mask-image: url("/caret.svg");
    mask-position: center;
    mask-size: contain;
    mask-repeat: no-repeat;
    -webkit-mask-image: url("/caret.svg");
    -webkit-mask-position: center;
    -webkit-mask-size: contain;
    -webkit-mask-repeat: no-repeat;
  }
  &:hover {
    background-color: var(--fg);
    color: var(--bg);
    &::after {
      visibility: visible;
    }
  }

  @media screen and (max-height: 605px) {
    padding: 6px 12px;
  }

  @media screen and (max-height: 508px) {
    padding: 2px 12px;
  }
}

footer {
  display: flex;
  width: calc(100% - 28px);
  justify-content: space-between;
  align-items: center;
  border-top: 2px solid var(--fg);
  padding-top: 8px;
  & > p {
    font-size: 12px;
    margin: 0;
  }
}
