.desktopNav {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  font-size: 20px;
  margin-top: 32px;
  padding-bottom: 24px;
  border-bottom: 1px solid var(--cream);

  a {
    opacity: 0.5;
    &.isActive {
      opacity: 1;
    }
  }
}
