.readerWrapper {
  padding: 16px;
  overflow: scroll;
  touch-action: auto;
}

.readerTitle {
  font-size: 24px;
  text-align: center;
  width: 100%;
  color: var(--fg);
  padding-bottom: 6px;
  border-bottom: 2px solid var(--fg);
}
