@use "./../variables.scss" as vars;
.readerWrapper {
  padding: 16px;
  overflow: scroll;
  touch-action: auto;
  scrollbar-width: none; /* Firefox */
  &::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Edge */
  }
  @media screen and (min-width: vars.$desktop-breakpoint) {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    & > :first-child {
      align-self: flex-start;
    }
    & > section {
      margin: 40px 0;
      max-width: 880px;
      background: var(--desktop-viewer-bg);
      box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
      padding: 74px;
      scrollbar-width: none; /* Firefox */
      &::-webkit-scrollbar {
        display: none; /* Chrome, Safari, Edge */
      }
    }
  }
}

.readerTitle {
  font-size: 24px;
  text-align: center;
  width: 100%;
  color: var(--fg);
  padding-bottom: 6px;
  border-bottom: 2px solid var(--fg);
  @media screen and (min-width: vars.$desktop-breakpoint) {
    border: none;
    margin: 120px 0 80px 0;
    font-size: 40px;
  }
}
