@use "./../variables.scss" as vars;
.contactPage {
  margin: 12px;
  line-height: 145%;
  font-size: 18px;
  @media screen and (min-width: vars.$desktop-breakpoint) {
    display: flex;
    flex-direction: column;
    align-items: center;
    & > :first-child {
      align-self: flex-start;
    }
    & > p {
      margin: 44px;
      max-width: 800px;
    }
  }
}

.email {
  text-decoration: underline;
}

.contactTitle {
  font-size: 24px;
  text-align: center;
  width: 100%;
  color: var(--fg);
  padding-bottom: 6px;
  border-bottom: 2px solid var(--fg);
}

.frame {
  height: 100%;
  width: 100%;
  border: 14px solid var(--fg);
  padding: 14px;
}

img {
  width: 90%;
  max-width: 285px;
  @media screen and (max-height: 600px) {
    display: none;
  }
}
