.menu {
  top: 0;
  position: absolute;
  width: 100%;
  height: 100vh;
  background-color: var(--black);
  color: var(--cream);
  touch-action: none;
  padding: 16px;
  animation: 200ms SlideIn ease;
}

.closeX {
  color: white;
  background: none;
  width: 24px;
  aspect-ratio: 1;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.block {
  display: inline-block;
  width: 30px;
  height: 10px;
  margin-left: 2px;
  background-color: var(--cream);
}

.menuListWrapper {
  width: 100%;
  display: grid;
  place-content: center;
  margin-top: 80px;
}

.menuList {
  font-size: 20px;
  list-style: none;
  padding-inline-start: 0;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-right: 32px;
  & > :first-child {
    color: var(--black);
    position: relative;
    z-index: 10;
    & > :first-child::after {
      content: "";
      display: inline-block;
      z-index: -1;
      position: absolute;
      left: -5%;
      width: 100%;
      height: 25px;
      background-color: var(--cream);
      animation: 600ms SlideIn ease;
    }
  }
  & > li {
    margin-bottom: 32px;
  }
}

@keyframes SlideIn {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}
