.frame {
  height: 100%;
  width: 100%;
  border: 14px solid var(--fg);
  padding: 14px;
  overflow: hidden;
  touch-action: none;
}

.content {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.name {
  color: var(--bg);
  background: var(--fg);
  padding: 12px;
  margin: 0;
  width: 100%;
}

.works {
  color: var(--fg);
  font-size: 24px;
  margin-top: 24px;
  margin-bottom: 4px;
}

.line {
  width: 100%;
  height: 2px;
  background-color: var(--fg);
}

.workList {
  margin-top: 24px;
  display: flex;
  flex-direction: column;
}
