:root {
  font-family: Georgia, serif;
  font-weight: 400;
  height: 100%;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --black: #0c0a07;
  --cream: #ede9e0;
  --desktop-light-cream: #f4f0e7;
  --desktop-light-black: #161513;

  // dark color scheme
  --bg: var(--black);
  --fg: var(--cream);
  --desktop-viewer-bg: var(--desktop-light-black);
  color: var(--cream);
  background-color: var(--black);
}

a {
  text-decoration: none;
  color: unset;
  &:hover {
    text-decoration: underline;
  }
}

body {
  margin: 0;
  box-sizing: border-box;
  height: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  & * {
    box-sizing: border-box;
  }
}

#root {
  height: 100%;
}

button {
  border: none;
  padding-block: unset;
  background-color: unset;
}

@media (prefers-color-scheme: light) {
  :root {
    color: var(--black);
    background-color: var(--cream);
    --bg: var(--cream);
    --fg: var(--black);
    --desktop-viewer-bg: var(--desktop-light-cream);
  }
}
