.asleepMind {
  font-size: 18px;
  overflow: scroll;
  line-height: 145%;
}

.sectionTitles {
  font-weight: 400;
  text-decoration: underline;
  text-align: center;
}

.sectionSubtitle {
  font-weight: 400;
  text-align: center;
}
