.box {
  line-height: 145%;
  ul {
    list-style: none;
    padding-inline-start: 40px;
    margin-block-start: 0;
    margin-block-end: 0;
  }
  p {
    margin: 0;
    font-size: 18px;
  }
  padding: 0 12px;
}

.indent {
  width: 40px;
  display: inline-block;
}
